/images/
/NewGetig/
/Heightmaps/
/Languages/High_Fomorian
/Languages/Fontself_Maker_AI_3.5.7_faff7
*.zip
*.map
*.raw
*.png
*.jpg
Fomorian Dictionary Workshop.gsheet
Fomorian Dictionary Workshop.xlsx
Gētīg Jun29 07-23.psd
*.xlsm
*.xlsx
